@font-face {
    font-family: 'Roboto';
    src: url("../googlefonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
    font-family: 'Oswald';
    src: url("/googlefonts/Oswald/static/Oswald-Medium.ttf");
}