$logo:rgba(255, 166, 0, 0.986);
$logo-textShadow: 1px 2px rgb(100, 99, 98);
$featuredBackground: orange;
$featuredBackground-Hover: rgb(214, 163, 68);

$carousel-text:white;
$carousel-button:rgba(29, 29, 29, 0);
$carousel-button-hover:rgba(34, 65, 105, 0.4);

$company-text-color:gray;
$company-textShadow: 1px 1px rgb(63, 62, 61);
$company-border:rgba(153, 153, 153, 0.322);

$hook-BgColor: rgba(206, 201, 201, 0.137);

$postAjobColor: rgb(37, 37, 37);

$pickline-box-shadow: 1px 1px gray;

$project-box-shadow:5px 5px 5px 1px rgba(0,0,0,0.27);


$apiBtnBgColor:rgba(40, 114, 233, 0.815);
$apiBtnBgColor-hover:rgba(9, 47, 109, 0.726);


$footerBg:rgba(31, 31, 31, 0.979);